# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: push to nuget.org

on:
  push:
    branches:
      - makeup
    tags:
      - 'v*.*.*'
  workflow_dispatch:
    
env:
  BUILD_CONFIGURATION: Release

jobs:
  build:
    strategy:
      fail-fast: true

    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: 'recursive' # submodule 받아오지 않으면 stylecop이 제대로 동작하지 않는다.

    - name: Get Version from Tag
      id: get_version
      run: |
        TAG_VERSION=$(git describe --tags --abbrev=0 | sed 's/v//')
        echo "TAG_VERSION=$TAG_VERSION" >> $GITHUB_ENV
      shell: bash

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build -c ${{env.BUILD_CONFIGURATION}} --no-restore

    - name: Test
      run: dotnet test -c ${{env.BUILD_CONFIGURATION}} --no-build --verbosity normal

    - name: pack
      run: dotnet pack -p:PackageVersion=$TAG_VERSION -c ${{env.BUILD_CONFIGURATION}}

    - name: push
      run: dotnet nuget push ./Cs.Logging/**/*.nupkg --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_API_KEY }}